apiVersion: apps/v1
kind: Deployment
metadata:
  name: medicureapp-eta-deploy
  labels:
    app: medicureapp-eta-app1
spec:
  replicas: 3
  selector:
    matchLabels:
      app: medicureapp-eta-app
  template:
    metadata:
      labels:
        app: medicureapp-eta-app
    spec:
      containers:
      - name: medicureapp-eta-container
        image: smitachawla67/medicureapp:latest
        ports:
        - containerPort: 8081
---
apiVersion: v1
kind: Service
metadata:
  name: medicureapp-eta-np-service1
  labels:
    app: medicureapp-eta-app1
spec:
  selector:
    app: medicureapp-eta-app

  type: NodePort
  ports:
  - nodePort: 31122    
    port: 8082
    targetPort: 8082
